* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/*
Azért mert *-ben azt mondtuk, hogy a margin és a padding az 0 ->
*/
h1, h2, h3, h4, h5, h6 {
    margin:10px 0;
}
.contanier {
    max-width: 1000px;
    margin: 15px auto, 
}
/*
game-area az egy grid lesz
*/
#game-area {
    display: grid;
    grid-template-columns: 1fr 2fr;
}
/*
grid-area belül lesz majd két box, ami a display grid miatt bemegy majd egymás mellé 
az első box-ban lesznek a beviteli mezők és majd mutatja, hogy melyik betűt találtuk ki/nem találtuk ki 
másikban meg rajzolodik ki a hangman
*/
.box { /*sima egyszerű szürke box*/
    background-color: #efefef;
    border: 1px solid #c2c2c2;
    margin-right: -1px; /*fontos beállítás -> hogy ne duplikálodjon a kettő között a border*/
    padding: 15px;
}
.white-box {
    background-color: white;
    padding: 15px;
    width: 100%;
}
input, button {/*az összes input mezőre és buttonra fog vonatkozni*/
    padding: 8px;
    margin-right: 15px;
}
.flex {
    display: flex;
    justify-content: center;/*középre rendezzük a contentet*/
}
.guessed-char {
    padding: 5px;
    border-bottom: 1px solid grey; /*alapból adunk neki egy aláhuzást*/
    margin: 5px;
    min-width: 25px;/*mert ahol van betű, ott szélesebb lesz a border bottom aláhuzás*/
}
#gameover-win {
    font-size: 45px;
    text-align: center;
    color: blue;
    /*
    de ezt majd felülírjuk js-ben 
    */
}
#hangman-holder {
    /*
    mivel a kép maga 500*500-as
    */
    width: 500px;
    height: 500px;
    background-color: white;
    margin: auto;
}